*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}


h1{
	font-size: 20px;

}
#first{
	
	color: red;
	text-align: left;
}

#second{
	
	color: orange;
	text-align: left;
}

#third{
	
	color: yellow;
	text-align: left;
}

#css{
	font-size: 40px;
}

#bootcamp{
	text-transform: uppercase;
}

.things{
	background-color: springgreen;
}

.tools{
	border-width: 2px;
	border-style: solid;
	border-color: blue;
}

img+ul{
	list-style-type: none;
	letter-spacing: 10px;
}

section img{
	height: 20vh;
	width: 20vh;
	border-radius: 100%;
}

#image p{
	text-align: center;
}











